@charset "UTF-8";

/*Title Bar*/
header{
    width:         100%;
    height:         34px;
    background:    -webkit-linear-gradient(top, rgb(225,225,225) 0, rgb(200,200,200) 100%);
    border-bottom: 1px solid rgb(205,205,205);
    -webkit-user-select: none;
    -webkit-app-region: drag;
    }

/*Window Controls*/
header>ul{
    float:        left;
    text-align:   left;
    line-height:  0;
    padding-left: 6px;
    }
header>ul>li,
header>ul>li>a{
    display: inline-block;
    }
header>ul{
    float: right;
    }
header>ul>li>a{
    width:              22px;
    height:             22px;
    margin:              6px 6px 6px 0;
    background-image:   url('./icons.svg');
    background-repeat:  no-repeat;
    -webkit-transition: -webkit-transform 200ms;
    -webkit-app-region: no-drag;
    }
header>ul>li>a:hover{
    -webkit-transform:  scale(1.22,1.22);
    outline:            none;
    }
a#windowControlClose{
    background-position: -44px 0;
    }
a#windowControlMaximize{
    background-position: -22px 0;
    }
a#windowControlMinimize{
    background-position: 0 0;
    }

/* YTQP specific css */
#yframe{
    width: 100%;
    height: 380px;
    left: 0px;
    top: 0px;
    position: absolute;
    margin-top: 40px;
}
body{
    background-color: #404040;
}

header>img{
    float: left;
    width: 28px;
    height: 28px;
    margin: 3px;
    }

#search-handle{
    position: absolute;
    background-color: #555555;
    float: left;
    height: 20px;
    width: 20px;
    top: 407px;
    left: 5px;
    cursor: pointer;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

#search-handle img{
    width: 12px;
    height: 12px;
    vertical-align: middle; 
    margin-left: 4px;
}

#search-handle:hover{
    background-color: #999999;
}

#search-panel-open{
     -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    background-color: #555555;
    position: absolute;
    top: 403px;
    height: 0px;
    width: 100%;
    display: block;
}

#search-panel-input{
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    border-style: none;
    width: 280px;   
    height: 0px;
    margin: 9px;
    padding: 0px 10px;
    float: left;
    display: none;
}

#search-button{
    float: left; 
    width: 26px; 
    height: 26px; 
    border: 2px solid #dddddd;
    margin-top: 9px;
    cursor: pointer;
    display: none;
}

#search-button img{
    width: 20px ;
    height: 20px;
    margin-top: 3px; 
    margin-left: 3px;
}